<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - My Kendo UI Application</title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    	<link href="@Url.Content("~/Content/kendo/2018.3.1017/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2018.3.1017/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2018.3.1017/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2018.3.1017/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2018.3.1017/angular.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2018.3.1017/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2018.3.1017/kendo.all.min.js")"></script>
</head>
    <body>
        @RenderBody()
    </body>
</html>